
.container {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	
}


header {
	background-image: url('images/header.jpg');
	height: 522px;
	width: 100%;
}

.headerright {
	float: right;
	font-family: 'Oswald';
	font-size: 1.25em;
	position: relative;
	right: 144px;
	top: 22px;
}

.logo {
	float:left;
	position: relative;
	left: 125px;
	top: 11px;
}


.blog {
	position: relative;
	top: 22px;
	left: 144px;
	font-family: 'Oswald';
}






.main{
	text-align: center;
	color: white;
	font-family: 'Oswald';
	font-size: 3em;
	position: relative;
	top: 100px;
}

.text {
	text-align: center;
	position: relative;
	top: 25px;
}


.headline {
	font-family: 'Open+Sans';
	font-size: 2em;
	color: #0A3451;
	position: relative;
	left: 10px;
}


.avatar {
	position: absolute;
	right: 150px;

}

.twit {
position: relative;
left:1000px;
top: 125px;







